*{
    text-align: center;
}
fieldset {
    width: 500px;
    margin:auto;
    border: 2px solid #006ad1;
}

.user,.sex,.branch {
    background-color: #006ad1;
    color: azure;
    padding: 10px 20px;
    margin-right: 25px;
    width: 100px;
    text-align: center;
    border: 2px solid #006ad1;
}

.text {
    border: 2px solid #006ad1;
    padding: 10px;
    width: 300px;
}

.gender {
    border: 2px solid #006ad1;
    background-color: #006ad1;
}

.line {
    margin-top: 20px;

}
.department{
    width: 322px;
    border: 2px solid #006ad1;
}

.button {
    width: 100px;
    margin-top: 30px;
    height: 30px;
    background-color:#008000;
    border: 2px solid #006ad1;
    border-radius: 5px;
    color: white;
}
.style{
    display:flex;
}